.mainn {
    padding: 34px;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 420px;
    position: relative;
    top: 15px;
    background-color: rgb(2, 2, 51);
}

.ne {
    border: 1px solid white;
    height: 250px;
    margin-top: 20px;
}
.ne p span {
    color: rgb(1, 241, 145);
    font-size: 10rem;
    padding: 4rem;
    font-weight: 700;
}
.ne p div {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 3rem;
}
.sit {
    display: inline-block;
}